.container-intro {
    margin-top: 76px;
    background:  #516395; /*#2c3e50*/
    /*background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    background: linear-gradient(to right, #3498db, #2c3e50);*/
    background: linear-gradient(to right, #516395, #614385);
    padding: 20px 20px 30px;
}

h1.about-intro-heading{
    color: #E9E4F0;
    /*font-family: 'Rancho', cursive;*/
    text-align: center;
    padding-top: 25px;
    font-size: 3rem !important;
    text-transform: uppercase;
}

.about {
    color: #E9E4F0;
    font-family: 'Rokkitt', serif;
    font-size: 25px;
    letter-spacing: 0.07em;
    text-align: center;
    padding: 10px;
    /*font-weight: 600;*/
}
.col-sm-3 {
    height: 300px;
    width: 50%;
    margin-top: 25px;
}
.editing {
    font-size: 20px;
    font-family: 'Rancho', cursive;
}
.person-details{
    text-align: center;
    background: #E9E4F0;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color:#39065A;
    padding: 10px;
    border: 2px solid #39065A;
    border-radius: 5px;
}
.person-details>h2{
    font-size: 1.5em;
}
.detail-div-mar{
    margin-top:2rem;
}
.profile{
    /*position:absolute;*/
    /*top: 50%;
    left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    width: 300px;
    height: 400px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.profile img{
    width: 100%;
    filter:grayscale(60%);
}
.profile .view{
    position: absolute;
    bottom:10px;
    left: 29%;
    transform: translateX(-50%);
    margin:0;
    padding: 5px 10px;
    background: rgba(15,20,59,0.7);
    color:#fff;
    border-radius:15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.details{
    height: 50%;
    width: 53%;
    background: #fff;
    position: absolute;
    bottom:30px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transform-origin: bottom;
    transform: perspective(500px) scale(0);
}
.details.active{
    bottom:0;
    transform: perspective(500px) scale(1); 
}
.details h2{
    margin:0;
    padding: 0;
    color:rgba(15,20,59,0.8);
    font-size: 18px;
    text-transform: uppercase;
}
.details h2 span{
    font-size: 14px;
    color:rgba(15,20,59,0.5);
}
.details p{
    margin:0;
    padding: 10px 0 0;
    font-size: 14px;
    color:rgba(15,20,59,0.8);
}
.details>h3{
    background: rgba(15,20,59,0.9);
    color:#fff;
    padding: 8px 50px;
    border-radius: 25px;
    display: inline-block;
}
.details ul{
    margin:0;
    padding: 0;
    display: flex;
}
.details ul li{
    list-style: none;
    font-size: 20px;
    width: 25%;
}
.details ul li:nth-child(1) .fa{
    color:#3b5998;
}
.details ul li:nth-child(2) .fa{
    color:#1da1f2;
}
.details ul li:nth-child(3) .fa{
    color:#e1306c;
}
.details ul li:nth-child(4) .fa{
    color:#a82400;
}
.close{
    font-size:15px;
    position: absolute;
    top:5px;
    right:5px;
    color: #f00;
    cursor: pointer;
}




















